a {
  text-decoration: none;
}

.bgcr {
  position: absolute;
  background-color: black;
  padding: 100px;
  width: 100%;
  display: flex;
  z-index: -1;
}

.Header {
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NowTime {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
